# macOS
.DS_Store

# Xcode user-specific & build artifacts
xcuserdata/
*.xcuserstate
DerivedData/
build/
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods / Carthage (if ever added)
Pods/
Carthage/Build/

# Misc
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
